@if (user) {
    <div class="card m-4 user-item" style="width: 18rem;" (click)="openUserInfo(user.login)" [style]="'cursor: pointer'">
        <img [src]="user.avatar_url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ user.login }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ user.type }}</h6>
          <!-- <a [href]="user.html_url" class="card-link">View Github <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon></a>
          <a href="javascript:void(0)" (click)="openUserInfo(user.id)" class="card-link">More Info <fa-icon [icon]="faInfoCircle"></fa-icon></a> -->
        </div>
    </div>
}