@if (data$ | async; as data) {

    @if (data.users.length > 0) {

        <div class="d-flex flex-wrap">
            @for (user of data.users; track user.id) {
                <app-user-row [user]="user"></app-user-row>
            }
        </div>

    } @else {
        <div id="test-no-results">
            Please enter a search term. No results found.
        </div>
    } 

} @else {
    <div class="text-center mt-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div> 
}

