@if (data$ | async; as data) {

    @if (data.users.length > 0) {

        <div class="d-flex flex-wrap justify-content-center">
            @for (user of data.users; track user.id) {
                <app-user-row [user]="user"></app-user-row>
            }
        </div>

        @if (data.totalResults >= 0) {
            {{data.totalResults}}
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="data.totalResults" [maxSize]="10" [pageSize]="30" [(page)]="page" (pageChange)="onPageChange($event)"/>
        }

    } @else {
        <div id="test-no-results" class="text-center my-4">
            No results found...
        </div>
    } 

} @else {
    <div class="text-center mt-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div> 
}

